.delete-confirm-component-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.delete-confirm-component {
  position: relative;
  background: #ffffff;
  padding: 2rem;
  border-radius: 3px;
  text-align: center;
}
.delete-confirm-component__close-icon {
  position: absolute;
  top: .5rem;
  right: .5rem;
}
.delete-confirm-component__header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.delete-confirm-component__header_icon {
  margin-right: .5rem;
}
.delete-confirm-component p {
  margin: 1rem 0;
}
.delete-confirm-component__button {
  margin: 0 1rem;
}