.button-component {
  background: #38aa41;
  padding: .25rem 1.5rem;
  font-family: inherit;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 3px;
  transition: box-shadow .25s;
  cursor: pointer;
}
.button-component:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .4);
}