.header-component {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.header-component a {
  color: #ffffff;
}
.header-component__content > * {
  margin-left: 1rem;
}