.error-page-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-page-header {
  text-align: center;
  font-weight: 500;
}
.error-page-header a {
  color: #38aa41;
}