.signup-form-component__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 19rem;
  position: relative;
  border: 2px solid transparent;
  border-radius: 3px;
  padding: 1rem;
  margin-top: 2rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .4);
}
.signup-form-component__input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .5rem 0;
}
.signup-form-component__input-wrapper label {
  width: 100%;
  text-align: left;
}
.signup-form-component__submit-button {
  margin: .5rem 0;
}
.signup-form-component__error-message {
  padding: .25rem;
  font-size: .9rem;
  background: #ff6347;
  color: #ffffff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(2%, -115%);
  display: none;
}
.signup-form-component__success-message {
  text-align: center;
  font-weight: 500;
}
.signup-form-component__success-message a {
  color: #38aa41;
}
.hidden {
  display: none;
}
